.App {
  text-align: center;
  /* background: #efefef; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-social-buttons {
  display: flex;
}

.App-menu {
  margin: 0 !important;
}

.App-menu-header {
  font-size: 2rem;
}

.ui.massive.menu {
  font-size: 1.6rem;
}

.App-menu-items {
  display: flex;
}

.App-Footer {
  flex: 0 1;
  padding: 1rem;
}

.menu .item:hover {
  opacity: 0.6;
}